html,
body {
    margin: 0%;
    padding: 0%;
}


/* Navigation Bar */

.nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 2% 2% 2% 2%;
}

.left-nav {
    display: flex;
    justify-content: left;
    width: 33%;
}

.middle-nav {
    position: absolute;
    left: 50%;
}

.right-nav {
    display: flex;
    justify-content: right;
}

.nav-button {
    padding: 2em 5em 2em 5em;
    white-space: nowrap;
}


/* Hero Box */

.hero-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hello-world-carousel {
    font-family: Roboto Mono;
}

.intro-message h1 {
    font-family: Roboto;
}

.intro-message p {
    font-family: Montserrat;
}