html,
body {
    margin: 0%;
    padding: 0%;
}


/* Navigation Bar */

.nav-container {
    width: 100%;
    border: 3px solid teal;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.left-nav {
    display: flex;
    justify-content: space-evenly;
    width: 33%;
}

.middle-nav {
    position: absolute;
    left: 50%;
}

.right-nav {
    display: flex;
    justify-content: space-evenly;
    width: 33%;
}

.nav-button {
    padding: 0 5% 0 5%;
}


/* Hero Box */